<style>

</style>
<div>
    <h2 id="item-table-banner" showIf=""><content></content></h2>
    <div id="item-table-wrapper" class="container" showIf="">
        <ColumnHeader></ColumnHeader>       
        <div class="table-body">
            <div id="item-repeater-parent" class="row" 
                 data-apl-repeat="">           
                <div class="col-2"><a href="details.php?id={{id}}">{{title}}</a></div>
                <div class="col-2">{{type}}</div>
                <div class="col-2">{{streaming_platform}}</div>
                <div class="col-2">{{watched}}</div>
                <div class="col-2">{{rating}}</div>
                <div class="col-2">{{next_airing}}</div>
            </div>
        </div>
    </div>
</div>